<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="logName" source="spring.application.name" defaultValue="phone"/>
    <property name="logName" value="${logName}" />
    <property name="logPath" value="./" />
    <contextName>${logName}</contextName>

    <!--输出日志格式-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss}) %boldMagenta(%contextName) %highlight(%-5level) %cyan(%logger{100}) - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <!--只保存error日志-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d - %logger - %line - %msg
            </pattern>
        </encoder>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${logPath}/error/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

</configuration>
